
<ul>
     <li><a href="#" onclick="OnUpdate('en-Ca','royale')">Click here to get the ROYALE (en-CA) Welcome Email</a><br /><br /></li>
     <li><a href="#" onclick="OnUpdate2('en-Ca','royale')">Click here to get the ROYALE (en-CA) custom email message</a><br /><br /></li>
     <li><a href="#" onclick="OnUpdate3('en-Ca','majesta')">Click here to get the MAJESTA (en-CA) custom email message with custom header and footer</a><br /><br /></li>
</ul>
